@Html.Kendo().ListView("").Name("KListView").TagName("div").BindTo(Model).ClientAltTemplateId("emp_templete")

<script type="text/x-kendo-tmpl" id="emp_templete">
    <div id="emp-details" class="well col-xs-12 col-sm-4 col-lg-3" style="margin:10px">
        <div class="left">
            <img class="img-responsive img-circle" src="@Url.Content("~/content/Employee")#: EmployeeID #.png" alt="#: FirstName # image"/>
        </div>
        <div class="left">
            <div class="h3">
                #: FirstName # #: LastName #
            </div>
            <div class="h3">
                #: Title #
            </div>
            <div class="h3 text-info">
                #if(ReportingManager !== ""){#
                    console.log(ReportingManager)
                    Reports to: #: ReportingManager #
                #}#
            </div>
            <a id="emp-note" title="#: Note #" href="\#">Note...</a>
        </div>
    </div>
</script>
